@use '../../styles/variables' as *;


.storyboard {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    &__img {
       background-color: $color-light;
        border-radius: 35px;
        width: 80vw;
        height: 40vh;
        &--div {
            margin: 2rem 0;
        }
    }
    &__text{
        width: 90%;
        line-height: 24px;
        font-size: 20px;
        margin: 0 1.5rem;
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 100%;
    }
}
.direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 1.5rem  auto;
   
    &__forward, &__back {
        background-color: white;
        border: none;
        margin-left: 90%;
    }
    &__icon{
        width: 50px;
        height: 50px;
    }
}