@use '../../styles/variables' as *;


.storyboard {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__img {
       background-color: $color-light;
        border-radius: 35px;
        width: 80vw;
        height: 40vh;
        &--div {
            margin: 2rem 0;
        }
    }
    &__text{
        height: 40%;
        width: 90%;
        font-size: 25px;
    }
}
.direction {
    display: flex;
    align-items: centers;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    &__forward, &__back {
        background-color: white;
        border: none;
    }
}