@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.headerChange {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    padding: 1rem 3rem;
    &__img {
        width: 30px;
        height: 40px;
        
    }
    &__home {
        @include tablet{
            margin-right: auto;
        }
        
    }
    &__other {
        display:none;
        @include tablet {
            display: block;
            width: 35%;
        }
        
    }
    &__other--list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
  
}
