@use '../../styles/variables' as *;

.form {
    margin-top:1rem;
    &__header {
        margin-top: 2.5rem;
        padding: 1rem 0;
        background-color: $color-dark-transparent;
        color: white;

    }
    &__button {
        background-color: $color-dark-sec;
        color: white;
        padding: 0;
        &:hover {
            background-color: $color-dark-transparent;
        color: white;
        }
    }
}