@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.bigGameBtn {
    width: 300px;
    height: 95px;
    background-color: rgba(142, 228, 175, .7);
    color: black;
    border-radius: 35px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 0;
 
    &:hover {
        background-color: $color-dark-sec;
        color: white;
        border: 4px solid white;
    }
    &--text--top {
        display: none;
     
        &:hover {
            padding-left: 5px;
        }
    }
    &--text--bottom {
        font-size: 24px;
        transition: .5s;
        padding-left: 5px;

        &:hover {
            padding-left: 5px;
        }
    }
    &--img {
        width:64px;
        height: 48px;
    }
    &--imgLrg {
        display: none;

    }
}