@use '../../styles/variables' as *;

.okay {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 450px;
  max-height: 750px;
  margin: 0 auto;
    
    &__score {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &--score {
            font-weight: 700;
        }
    }
    &__text {
        font-size: 24px;
        // width: 80vw;
       
        line-height: 42px;
    }
    &__buttons{
        display: flex;
        justify-content: space-around;
    }
    &__navigate{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
}