@use '../../styles/variables' as *;

.vids {
    display: flex;
    justify-content:left;
    align-items: flex-start;
    height: 5.5rem;
    color: $color-dark;
    min-height: 10%;
   margin: 1rem;
   &:hover {
    border-radius: 5px;
    background-color: aliceblue;
   }
   
    &__img{
        background-color: grey;
        border: 1px solid black;
        border-radius: 5px;
        width: 100px;
        height: 70px;
        background-image: cover;
      
        &--div{
            flex-wrap: wrap;
            margin-right:1rem;
        }
    }
    &__infoBar {
        display: flex;
        flex-direction: column;
       
        }
        
    &__title {
        font-weight: 700;
        font-size: 0.9375rem;
     
    }
    &__author {
        font-size: 0.825rem;
    }
}

