.form {
    margin: 1rem;
    margin-top: 3rem;
    max-width: 450px;
    max-height: 750px;
    margin: 0 auto;    
    
    &__header {
        max-width: 450px;
        max-height: 750px;
        padding: 0 5rem;
        margin: 2.5rem auto 0;
        text-align: center;
    }
    &__section {
        display: flex;
        flex-direction: column;
        min-height: 80vh;
    }
}