@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

// fonts
$font-primary: 'Basic', 'sans serif';
$font-title: 'Italiana', 'sans serif';
// primary colors
$color-dark: #383b8f;
$color-dark-transparent:rgba(56, 59, 143, .7);
$color-dark-sec:#379683;
$color-accent: #FFFFFF;
// secondary colors
$color-light: #fcaf34;
$color-light-transparent: rgba(252, 175, 52, 0.7);

$color-light-sec: #8EE4AF;
$color-accent-sec: #EDF5E1;
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
