@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.excellent {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    max-height: 750px;
    margin: 0 auto;
    &__score {
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &--score {
            font-weight: 700;
        }
    }
    &__text {
        font-size: 24px;
        // width: 80vw;
        margin-right: auto;
        margin-left: auto;
        line-height: 42px;
        // @include tablet {
        //     margin-bottom: 2rem;
        //     text-align: center;
        // }
    }
    &__buttons{
        display: flex;
        justify-content: space-around;
    }
    &__navigate{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
}