@use '../../styles/variables' as *;
.mapItem {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    &__title {
        font-size: 20px;
        margin-bottom: .5rem;
        color: $color-dark;
    }
    // &__address {
    //     font-size: 12px;
    // }
}