

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem 0;
    &__img {
        width: 275px;
        height: 63px;
    }
    &__home{
        width: 40px;
        height: 40px;

    }
}