@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.nav {
  &__style {
    max-width: 450px;
    margin: 0 auto;
    background-color: white;
    color: white;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
    
  }
  &__img {
    margin-top: .5rem;
    height: 25px;
    width: 25px;
   
    // &:hover {
    //   border-radius: 50%;
    //   background-image: radial-gradient(white, green);
    // }
  }
  &__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
  }
  &__link {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    margin:0;
    color:black;
    text-align: center;
  }
}
.phantomStyle {
  width: 100%;
}

.active {
  background-color: $color-light-transparent;
  margin-top: .25rem;

}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}