@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.namegame {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    min-height: 60vh;
    flex-grow: 1;
    
   
    &__div {
        background-color: $color-dark-transparent;
        border-radius: 30px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        &--enter {
            display: flex;
            justify-content:space-between;
            align-items:center;
            
        }
    }
    &__input {
        background-color: white;
        border-radius: 20px;
        width: 90%;
        height: 80px;
        font-size: 30px;
        padding-left: 1rem;
    }
    &__label{
        font-size: 24px;
        margin: 1.5rem 0;
        font-family: $font-primary;
        text-align: center;
    }

    &__form {
        height: 20%;
        
    }
    &__btn {
        background-color: white;
        border: none;
        &--img {
            height: 75px;
            width: 75px;
        }
        
    }
}
.navbar {
    max-width: 450px;
        margin: 0 auto;
}