@use '../../styles/variables' as *;

.footer {
    // font-family: $font-title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-transparent;
    width: 100%;
    height: 80px;
    &__text {
        color: white;
        font-family: $font-primary;
        margin-top: 1rem;
    }
    &__icon {
        fill: white;
        &:hover {
            //find something in the animations to make it fun when hovered and clicked
        }
    }
}