@use '../../styles/variables' as *;

.mapList {
    max-width: 450px;
    margin: 0 auto 4rem;
    background-color: white;
    padding: 1rem 0;
    &__title {
        margin-top: 2.5rem;
        background-color: $color-dark-transparent;
        color: white;
        text-align: center;
        padding: 0 .5rem;
        &--span{
            font-size: 20px;
        }
    }
    
}
