.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    @include desktop {
        flex-direction: row;
    }
    &__google{
        border: 2px solid $color-light-sec;
        height: 70vh;
        margin: 1rem 0;
    }
    &__selection {
        border: 2px solid $color-light-sec;
        height: 70vh;
        margin: 1rem 0;
    }
}