@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.map{
    align-items: center;
    border: 2px solid $color-light-sec;
    height: 60vh;
    width: 93%;
    padding: .5rem;
    margin: 1rem;
    
}